.bottom-navbar {
    background-color: #ffffff5b;
    backdrop-filter: blur(7px);
    font-family: 'roboto', sans-serif;
    padding-top: 4px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bottom-navbar i {
    color: #ffffff;
}

.bottom-navbar i {
    width: 8px;
    height: 8px;
    background-color:#190482;
    border-radius: 100%;
    padding: 5px;
}

.bottom-navbar span {
    font-size: 10px;
    font-weight: 700;
    color: #190482;
    padding-top: 10px;
}

.bottom-navbar .navbar-nav .nav-link.active i {
    background-color: #0174BE;
}

.bottom-navbar .navbar-nav .nav-link.active span {
    color: #0174BE;
}